<div class="sidebar">
  <div class="search">
    <i aria-hidden="true" class="fa fa-search"></i>
    <input type="search" placeholder="Search" value="">
  </div>

  <div class="">
    <h2 class="sidebar__group-title">
      <i class="fa fa-minus-square-o" tabindex="0" title="Collapse Category"></i>
      Number
    </h2>
    <ul class="">
      <li class="">
        <a href="https://lodash.com/docs/4.17.15#clamp">
          <code><span class="subtle-punctuation">_.</span>clamp</code>
        </a>
      </li>

      <li class="">
        <a href="https://lodash.com/docs/4.17.15#inRange">
          <code><span class="subtle-punctuation">_.</span>inRange</code>
        </a>
      </li>

      <li class=""><a href="https://lodash.com/docs/4.17.15#random"><code><span class="subtle-punctuation">_.</span><!-- react-text: 994 -->random<!-- /react-text --></code></a></li></ul></div>

</div>

<div class="content">

</div>
